@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --layoutWidthMax: 1080px;
  --columnPaddingNormal: 16px;
}

.scn-container {
  max-width: calc(var(--columnPaddingNormal) * 2 + var(--layoutWidth));
  padding: var(--columnPaddingNormal);
}

@media (min-width: 1112px) {
  html {
      --layoutWidth: var(--layoutWidthMax);
  }
}